// ====================================================
// Main css file for Wedding-cm.com
// @create          27 March 2013
// @author          iChaiwut (ichaiwut.s@gmail.com)
// ====================================================

$au: auto;
$zero: 0;

$block: inline-block;
$no: none;

$t: top;
$m: middle;
$b: bottom;
$l: left;
$r: right;
$c: center;
$bd: bold;
$norm: normal;

@font-face {
    font-family: 'thai_sans_literegular';
    src: url('thaisanslite_r1-webfont.eot');
    src: url('thaisanslite_r1-webfont.eot?#iefix') format('embedded-opentype'),
         url('thaisanslite_r1-webfont.woff') format('woff'),
         url('thaisanslite_r1-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

$thaisans: thai_sans_literegular;

// Control all box inreal size when you use padding.
* {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

 //=========================================
 // Mixin
 // ========================================

 @mixin gradientBg($startColor, $endColor) {
    background-image: -ms-linear-gradient(top, $startColor 0%, $endColor 100%);/* IE10 Consumer Preview */
    background-image: -moz-linear-gradient(top, $startColor 0%, $endColor 100%); /* Mozilla Firefox */
    background-image: -o-linear-gradient(top, $startColor 0%, $endColor 100%);/* Opera */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $startColor), color-stop(1, $endColor));/* Webkit (Safari/Chrome 10) */
    background-image: -webkit-linear-gradient(top, $startColor 0%, $endColor 100%);/* Webkit (Chrome 11+) */
    background-image: linear-gradient(to bottom, $startColor 0%, $endColor 100%);/* W3C Markup, IE10 Release Preview */
 }

//Import important file
@import "normalize";


body {
    background: #c6c6c6;
    font-family: Arial, Sans-serif;
    font-size: .9em;
    color: #666;
    line-height: 1.5;
}

// Default style for text
a {
    color: #444;
    font-weight: $bd;
    text-decoration: $no;

    &:hover {
        color: #294F5F;
        text-decoration: $no;
    }
}

h1 { font-size: 1.6em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }

// ==============================
// Often use
// ==============================
//adjust text.
.aligncenter { text-align: $c; }
.alignright { text-align: $r; }
 .alignleft { text-align: $l; }

// Float block.
.right { float: $r; }
 .left { float: $l; }

 .shadow {
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.75);
 }


// =========================================
// Button
// =========================================
.btn-enroll-course {
    border: 1px solid #236F7F;
    border-radius: 5px;
    color: #fff;
    @include gradientBg($startColor: #309AA7, $endColor: #236F7F);
    &:hover { background: #309AA7; }
}

// ========================================
// Layout
// ========================================
.container {
    width: 960px;
    margin: 30px $au;
    background: #fff;
}

.header {
    height: 70px;
    background: url(../images/header.jpg) no-repeat;
}

.top-nav {
    background: #fff;

    ul {
        margin: 0;
        list-style: $no;
        border-bottom: 1px solid #ccc;
    }

    li {
        display: $block;
        border-right: 1px solid #ccc;

        a {
            display: block;
            padding: 5px 20px;
            font: $norm .9em Arial, Sans-serif;
            text-align: $l;
        }

        &:hover {
            background: #f5f5f5;
        }
    }
}

.main-container {
    margin: 0 $au;
    padding: 10px;
}

table.summary-table {
    width: 100%;

    td,
    th {
        border: 1px solid #aaa;
    }

    th {
        padding: 10px;
        background: #ccc;
        font-weight: $bd;
    }
}

.footer {
    min-height: 100px;
    padding: 10px;
    background: #171717;

    h2 { color: #ccc; }
    p {
        font-size: .8em;
        color: #eee;
    }
}